*{
    margin: 0px;
    padding:0px;
 
    scroll-behavior:  smooth;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Nova Slim', cursive;
  }
  .left-header{
      width: 50%;
      float: left;
  }
  .header{
      width: 100%;
  }
  .header img{
    position: relative;
    margin-top:0;
    margin-left: 0;
    width: 100%;
    height: 625px;
    object-fit: cover;
    transition: 0.9s ease;
}

.left-header h2{
    position: relative;
    top: -450px;
    left: 490px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
   font-weight: bold;
    color: rgba(12, 63, 12, 0.685);
    animation: smiley 3.8s ease infinite;
}
@keyframes smiley {
    0%{
        width: 0ch;
    }
    100%{
        width: 9ch;
    }
}
.left-header h1{
    position: relative;
     margin-top: -652px;
    left: 10px;
    font-size: 20px;
    color: #fff;
   
    transition: 0.9s ease;
    letter-spacing: 2px;
    opacity: 0.9;
  }

.left-header h3{
    position: relative;
    top: 390px;
    left: 320px;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 1px;
    color: #fff;
    animation: feel 5.3s ease infinite;
}
@keyframes feel{
    0%{
        width: 0ch;

    }
    100%{
        width: 38ch;
       
    }
}
.mouse{
    content: '';
    position: relative;
    top: -80px;
    left: 620px;
    width:30px;
    height: 55px;
    background: transparent;
    border-radius: 150px;
    border: 2px solid white;
  
  }
  .mouse::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
    border-radius: 80px;
    background: white;
    animation: moue 2s infinite;
  }
  @keyframes moue{
    from{
      opacity: 1;
      top: 10px;
    }
    to{
      opacity: 0;
      top:40px ;
    }
  }
.left-section img{
    position: relative;
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 30px;
    width: 75%;
    height: 500px;
    object-fit: cover;
}
.right-section p{
    float: left;
    margin: 0;
    margin-left: -80px;
    margin-top: 100px;
    line-height: 32px;
    font-size: 20px;
    margin-right: 40px;
    text-align: justify;
}







.coupon1 {
    border: 3px dotted rgb(17, 17, 17);
    width: 70%;
    margin-top: 120px;
    border-radius: 15px;
    margin-left: 50px;
    max-width: 600px;
  }
  
  .container1 {
    padding: 2px 16px;
    background-color: #f1f1f1;
  }
  
  .promo {
    background: #ccc;
    padding: 3px;
  }
  
  .expire {
    color: red;
    text-align: center;
  }


  .coupon2 {
    border: 3px dotted rgb(17, 17, 17);
    width: 70%;
    margin-top: 120px;
    border-radius: 15px;
    margin-left: 40px;
    max-width: 600px;
  }
  .container2 {
    padding: 2px 16px;
    background-color: #f1f1f1;
  }
  
  .promo {
    background: #ccc;
    padding: 3px;
  }
  
  .expire {
    color: red;
    text-align: center;
  }
 

::-webkit-scrollbar{
  background-color:rgba(12, 2, 2, 0.959);
  width: 6px;
}
::-webkit-scrollbar-track{
box-shadow: inset 0 0 10px rgba(228, 226, 226, 0.26);
border-radius: 1px;
}
::-webkit-scrollbar-thumb{
background: linear-gradient(125deg,rgb(240, 237, 237),rgb(245, 237, 239) );
border-radius: 14px;
}


@media only screen and (max-width: 600px) {
    .header img{
        height: 500px;
    }
    .left-header h1{
        margin-top: -522px;
        left: 10px;
    }
    .left-header h2{
        top: -350px;
        left: 90px;
        font-size: 25px;
    }

    .left-header h3{
        top: 310px;
        left: 20px;
        font-size: 12px;
    }

    .mouse{
        top: -250px;
        left: 120px;
        width:28px;
        height: 50px;
    }
    .left-section img{
       margin-top: 20px;
        margin-left: 8px;
        border-radius: 30px;
        width: 80%;
        height: 400px;
        object-fit: cover;
    }
    .right-section p{
        margin-left: -60px;
    margin-top: 60px;
    line-height:15px;
        font-size: 7px;
    }

    
  }
